<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Attribute directive </h1>
    <p>[*ngClass],[ngStyle] </p>
</div>
<div class="row pt-3">
    <div class="col-3">
    <div class=" p-3 text-center" [ngClass]="text1BgColor">
        <h4>Text 1</h4>
    </div>
    </div>  
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="istext2BgColor ? 'bg-success' : 'bg-warning'">
            <h4>Text 2</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-secondary p-3 text-center"[ngClass]="num1==num2 ? 'bg-secondary' : 'bg-danger'">
            <h4>Text 3</h4>
        </div>
    </div>
    <div class="col-3">
        <div  class="p-3 text-center "[ngClass]="isActive ? 'bg-primary' : ''">
            <h4>Text 4</h4>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger"(click)="addRedClass()">Add Red</button>
        <button class="btn btn-primary mx-2"(click)="addBlueClass()">Add Blue</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-secondary"(click)="toggleText2()">Toggle</button>
    </div>
    <div class="col-3">
        <div style="display: flex;align-items: center">
            <input type="text" [(ngModel)]="num1" placeholder="num1" class="width-50">
            <input type="text" [(ngModel)]="num2" placeholder="num2" class="width-50">
        </div>
    </div>
    <div class="col-3">
        <div style="display: flex; align-items: center;">
            <input type="checkbox" [(ngModel)]="isActive" class="width-50">
            <select>
                <option value="">Select</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                   <th>sr no</th>
                   <th>name</th>
                     <th>city</th>
                     <th>age</th>
                     <th>marks</th>
                     <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stud of studentList, let sr=index">
                    <td>{{sr+1}}</td>
                    <td>{{stud.name}}</td>
                    <td>{{stud.city}}</td>
                    <td>{{stud.age}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width':stud.mark+'%'}">{{stud.mark}}</div>
                        </div>
                        
                        </td>
                    <td [ngStyle]="{'background-color': stud.isActive ? 'green' : 'red'}">
                        <span>
                            {{stud.isActive ? 'Active' : 'Inactive'}}
                        </span>
                    </td>
                   
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div class="row pt-4">
    <h2>Aman</h2>
    <div class="col-7">
        <div [ngStyle]="customStyle">
            Hello
        </div>
    </div>
</div>


